<a href="https://colab.research.google.com/github/msouto/20241-Algoritmos-Estruturas-Dados/blob/main/14_matrizes_introducao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
M = [1,2,3,4,5,6] #(unidimensional)
print(M)

[1, 2, 3, 4, 5, 6]

In [ ]:
M = [[1,1,1],[1,1,1],[1,1,1]]
print(M)
M = [[1]*3]*3 #Bidimensional
print(M)

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]
[[1, 1, 1], [1, 1, 1], [1, 1, 1]]

In [ ]:
M = [ [1 for i in range(5)] ]
print(M)

[[1, 1, 1, 1, 1]]

In [ ]:
M = [ [1 for i in range(5)] for j in range(5) ]
print(M)

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [1]:
#imprimir uma lista aninhada
m = [ [1 for i in range(10)] for j in range(10) ]
cont = 0
for i in range(len(m)):
  for j in range(len(m[i])):
    cont+=1
    m[i][j]=cont
print(m)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40], [41, 42, 43, 44, 45, 46, 47, 48, 49, 50], [51, 52, 53, 54, 55, 56, 57, 58, 59, 60], [61, 62, 63, 64, 65, 66, 67, 68, 69, 70], [71, 72, 73, 74, 75, 76, 77, 78, 79, 80], [81, 82, 83, 84, 85, 86, 87, 88, 89, 90], [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [3]:
m = [ [1]*3 ] *3
print(m)
for i in range(3):
  for j in range(3):
    print(m[i][j])

[[1, 1, 1], [1, 1, 1], [1, 1, 1]]
1
1
1
1
1
1
1
1
1